@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');
@import 'base.css';

body {
    /* background-image: url(/sources/background-img.jpg); */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;

    /* background-attachment: fixed; */
  
}
.wrapper{
    scroll-snap-type: y mandatory;

    height: 100vh;
    overflow: auto;


}
.scroll-area{
    scroll-snap-align: center;
}
* {
    padding: 0px;
    margin: 0px;

}
.section-title{
    font-family: round-extrabold;
}
/**
*
*   Section 1 | landing
*
**/
.section1 {

    height: 100vh;
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-color: black;
    color: white;
    mix-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
    padding-top: 40px;
}
.section1-header {
    width: 296px;
    padding-top: 40px;
}
.section1-header h2{
    margin-top: 100px;
    width: 250px;
}

.section1-footer {
    margin-bottom: 200px;
}
.links{
    padding-top: 160px;
}
/**
*
*   Section 2 | work
*
**/
.section2 {
    height: 100vh;
    background-color: black;
    color: white;
    mix-blend-mode: multiply;

    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 20px;
}

.section2 h2 {
    align-self: flex-start;
    padding-top: 30px;
}
.section2-main{
    padding-top: 0px;
}
.section2 ul {
    flex-direction: column;

}

.section2 li {
    list-style-type: none;
    font-family: round-book;
    font-size: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;

}


#work-item {
margin-right: 20px;

}

#work-item h2{
padding-top: 0px;

}
.arrow-back{
    padding-right: 10px;
    width: 20px;
}
#work-item-images {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    padding-bottom: 10px;
  
}
#work-item-images > *{
    scroll-snap-align: center;

}


::-webkit-scrollbar {
    height: 1px;
    width: 0px;

}

::-webkit-scrollbar-thumb:horizontal {
    background: white;



}

#work-item-images img {
    width: 90vw;
    margin: 1px;

}

#work-item-title {
    display: flex;
    text-align: left;
    align-items: center;
    padding-bottom: 20px;
}

#work-item-title img {
    width: 30px;
}

/**
*
*   Section 3 | info
*
**/
.section3 {
    height: 100vh;
    background-color: black;
    color: white;
    mix-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 20px;
}

.section3 h1 {
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
}

.section3-name {
    font-size: 34px;
}

.section3-info {
    padding-right: 100px;
    padding-bottom: 350px;

}

.section3 li {
    list-style-type: none;
    font-family: helvetica;
    font-size: 23px;
    font-weight: lighter;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.section3-icon {
    width: 20px;
}

