@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');
@import 'base.css';

body {

    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: black;
}
.wrapper{

    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-image: url('/sources/images/background-img.jpg');
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow: auto;
}
.scroll-area{
    scroll-snap-align: center;

}
* {
    padding: 0px;
    margin: 0px;

}
.section-title{
    font-family: round-extrabold;
    padding-top: 30px;
}
/**
*
*   Section 1 | landing
*
**/
.section1 {
    height: 100vh;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    mix-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;

}
.section1-header {
    width: 296px;
    padding-top: 30px;
}
.section1-header h2{
    margin-top: 100px;
    width: 250px;
}

.section1-footer {
    margin-bottom: 200px;
}
.links{
    padding-top: 160px;
    width: fit-content;
}


/**
*
*   Section 2 | work
*
**/
.section2 {
    height: 100vh;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 20px;
    padding-right: 20px;

}

.section2 h2 {
    align-self: flex-start;
}
.section2-main{


}
.section2 ul {
    flex-direction: column;
}


.section2 li {
    list-style-type: none;
    font-family: round-book;
    font-size: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    width: fit-content;


}
.section2 li:hover {
    cursor: pointer;
}

.arrow-back{
    padding-right: 10px;
    width: 20px;
}
#work-item-images {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    max-width: fit-content;

    justify-content: left;


}
.section2-main ul{
  padding-top: 70px;

}
#work-item-images > *{
    scroll-snap-align: center;

}
.work-item {
width: 80vw;
}
.work-item p{
font-size: 16px;

}
.work-item h1{
font-size: 20px;
padding-bottom: 20px;

}



#work-item-images img {
    max-width: 90vw;
    margin: 0px 3px;
    max-height: 70vh;
    

}

#work-item-title {
    display: flex;
    text-align: left;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 70px;

}

#work-item-title img {
    width: 30px;
}
::-webkit-scrollbar{
    display: none;
}
/**
*
*   Section 3 | info
*
**/
.section3 {
    height: 100vh;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    /* mix-blend-mode: multiply; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 20px;
    mix-blend-mode: multiply;
}

.section3 h1 {
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
}

.section3-name {
    font-size: 34px;
}

.section3-info {
    padding-right: 100px;
    padding-top: 150px;
    width: 300px;

}

.section3 li {
    list-style-type: none;
    font-family: helvetica;
    font-size: 23px;
    font-weight: lighter;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.section3-icon {
    width: 20px;
}
.section4{
    height: 100vh;
    /* background-color: black; */
    color: white;
    /* mix-blend-mode: multiply; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 20px;
}
